
<nav>
    <h1>Juno</h1>
    <ul>
        <li><a href="/"><span class="material-symbols-outlined">home</span><strong>Home</strong></a></li>
        <li><a href="/search"><span class="material-symbols-outlined">search</span>Search</a></li>
        <li><a href="/notifications"><span class="material-symbols-outlined">notifications</span>Notifications</a></li>
        <li><a href="/message"><span class="material-symbols-outlined">message</span>Messages</a></li>
        <li><a href="/p/<%= user.username%>"><span class="material-symbols-outlined">account_circle</span>Profile</a></li>
        <li><a href="/logout"><span class="material-symbols-outlined">logout</span>Sign Out</a></li>
    </ul>
    <span class="profile">
        <div class="image">
            <img alt="image" src="https://picsum.photos/35?random=<%= Math.floor(Math.random()*1000)%>"/>
        </div>
        <div>
            <span><%= user.fullname %></span>
            <span class="username">@<%= user.username %></span>
        </div>
        <span class="more material-symbols-outlined">more_horiz</span>
    </span>
</nav>
