* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgb(121, 121, 121);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    background: #313131;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #151515;
    color: #d5d5d5;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    padding-right: 10px;
}

a {
    color: rgb(82, 138, 206);
    text-decoration: none;
}

hr{
    border: 1px solid rgba(100, 100, 100, 0.5);
}

.comment_form{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(84, 91, 100, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.comment_form .comment_form_main{
    width: 500px;
    height: 300px;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 20px;
}


.comment_form .comment_form_main form h2{
    text-decoration: underline;
}

.comment_form .comment_form_main form{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.comment_form .comment_form_main form textarea{
    resize: none;
    max-width: 500px;
    width: 100%;
    height: 100%;
    background: transparent;
    color: #d5d5d5;
    outline: none;
    border: none;
    font-size: large;
    font-family: 'Poppins', serif;
}

.comment_form .comment_form_main form .buttons{
    display: flex;
    gap: 20px;
}

.comment_form .comment_form_main form .buttons button{
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
}

.comment_form .comment_form_main form .buttons span{
    cursor: pointer;
}

.comment_form .comment_form_main form .buttons button:hover{
    color: #fff;
}

.comment_form .comment_form_main form .buttons span:hover{
    color: #fff;
}

main{
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(100, 100, 100, 0.5);
}

main .banner{
    width: 100%;
    padding: 5px 0;
    display: flex;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

main .banner button{
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d5d5d5 !important;
    cursor: pointer;
}

main .banner .profile{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

main .banner .profile .name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #dedede;
    font-size: small;
}

main .banner .profile .name code{
    font-size: small;
    color: #b1b1b1;
    font-family: 'Montserrat', sans-serif;
}

main .image{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

main .image .banner_image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 270px;
}

main .image .banner_image img{
    width: 100%;
}

main .image .text{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

main .image .text img{
    border-radius: 50%;
    border: 4px solid #151515;
}

main .image .text .info{
    display: flex;
    flex-direction: column;
    color: #d5d5d5;
    display: flex;
    align-items: center;
}

main .image .text .buttons{
    padding-top: 60px;
}


main .image .text .buttons button {
    background: rgba(219, 219, 219);
    color: #1e1e1e;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 5px 30px;
    font-size: medium;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

main .image .text.buttons button:hover {
    background: rgb(248, 248, 248);
}

section{
    padding: 20px 30px;
}

.posts{
    padding-left: 0;
}

.moreposts{
    display: flex;
    align-items: center;
    justify-content: center;
}